@model TModel
@await RenderSectionAsync("scripts", required: false)

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript">
        $(function()
        {
            $.getJSON('/api/profiles', function(profilesJsonPayload)
            {
                $(profilesJsonPayload).each(function(i,item) {
                    $('#profiles').append('<li>' + item.name + '</li>');
                });
            });
        });
    </script>
}

<div id="body">
    <ul id="profiles"></ul>
</div>

